.calculate-budget {
    background-color: #f7f7f7;
    padding-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #e7e7e7;
}

.form-fields {
    /* border: 1px solid red; */
    width: 53%;
    margin:0 auto;
}

.select-income-or-expense:focus {
    outline: none;
}

.select-income-or-expense{
    padding: 15px 5px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    width: 10%;
    margin-right: 5px;
    color: #555;
    transition: border 0.2s;
}

input[type="text"] {
    padding: 15px 15px;
    border: 1px solid #e7e7e7;
    width: 60%;
    border-radius: 5px;
    font-size: 0.9rem;
    color: #555;
    transition: border 0.2s;
    margin-left: 5px;

}

input[type="text"]:focus,input[type="number"]:focus,select:focus {
    outline: none;
    border: 1px solid #28B9B5;
}


input[type="number"]{
    width: 12%;
    padding: 15px 5px;
    border: 1px solid #e7e7e7;
    border-radius: 5px;
    margin-left: 8px;
    color: #555;
    transition: border 0.2s;
}

input[type="number"]:focus{
  outline: none;
}

.submit-btn {
    font-size: 35px;
    background: none;
    border: none;
    color: #28B9B5;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    line-height: 1.1;
    flex: 0.5;
    margin-left: 2%;
}

/* .submit-btn:hover{
    padding-top: 5px;
} */

.submit-btn i{
    width: 100%;
    height: 100%;
}